
@font-face {
    font-family: 'Halimun';
    src: url('HalimunRegular.woff2') format('woff2'),
        url('HalimunRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'kumbh_sansregular';
    src: url('kumbhsans-regular-webfont.woff2') format('woff2'),
         url('kumbhsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
  margin:0;
  padding:0;

}


body {

        background-color:white;
        margin:0;
        padding:0;

   }

.profile{

   height:300px;
   width:130px;
   margin:0;
   padding:0;
   box-sizing: border-box;
   position:absolute;
   right:0;
   top:10px;


}


#profileicon{
    height:60px;
    width:60px;
    margin:auto;
    display:block;

}
.profile ul {
 font-family: 'kumbh_sansregular';
 color:black;
 list-style:none;
 position:absolute;
 right:20px;
 top:40px;
 display:block;
}

.profile ul  li{

cursor:pointer;
width:90px;
background:transparent;
text-align:center;
height:40px;
line-height:40px;
border:none;
font-size:17px;
}


#slider{
width:700px;
height:467px;
background:url(1.jpg);
background-size:cover;
margin:130px auto;
animation: slide 30s infinite 3s;
z-index:-1;
}

@keyframes slide{

25%{
    background:url(2.jpg);
    background-size:cover;
    margin:130px auto;
   }
50%{
    background:url(3.jpg);
    background-size:cover;
    margin:130px auto;
   }
75%{
    background:url(4.jpg);
    background-size:cover;
    margin:130px auto;
   }
100%{
    background:url(1.jpg);
    background-size:cover;
    margin:130px auto;
   }

}
#gr{
    font-family: 'Halimun';
    color:#ffa500;
    text-align:center;
    position:absolute;
    left:50%;
    font-size:30px;
    transform:translateX(-50%);
    top:10px;
    }
